1.⁠ ⁠Create a list of 5 numbers. Print the first and last elements using indexing.

In [2]:
list=[56,59,45,30,31]
print("First Element: ",list[0])

First Element:  56

In [18]:
list=[56,59,45,30,31]
print("last Element: ",list[-1])

last Element:  31

In [20]:
list[::-1]

[31, 30, 45, 59, 56]

3.⁠ ⁠Print the elements from index 1 to 3 (inclusive).

In [22]:
list[1:3]

[59, 45]

4.⁠ ⁠Find the sum of all elements in the list using a for loop.

In [24]:
list1=[56,59,45,30,31]
total=0
for num in list1:
    total+=num
print(total)

221

5.⁠ ⁠Count how many even numbers are present in the list.

In [28]:
numbers=[56,79,80,77,21,12,34,78,42]
for number in numbers:
    if number%2==0:
        print(number)

56
80
12
34
78
42

6.⁠ ⁠Print only the elements at even index positions.

In [44]:
numbers=[56,79,80,77,21,12,34,78,42]
for i in range(0, len(numbers), 2):
    print(numbers[i])

56
80
21
34
42

7.⁠ ⁠Create a list of 5 names. Print each name in uppercase using a for loop.

In [58]:
names=["ammu","abhi","anu","achu","arun"]
for name in names:
    print(name.upper())

AMMU
ABHI
ANU
ACHU
ARUN

8.⁠ ⁠Print the length of the list using len() function.

In [61]:
len(names)

5

9.⁠ ⁠Replace the 3rd element of the list with a new value.

In [63]:
names=["ammu","abhi","anu","achu","arun"]
for i in range(len(names)):
    names[i]= names[i].replace("anu", "kukku")
print(names)

['ammu', 'abhi', 'kukku', 'achu', 'arun']