1.⁠ ⁠Create a dictionary of 5 students with their marks. Print the dictionary.

In [4]:
marks={'Ananya':85,'Arya':23,'Deva':50,'Avani':60,'Anju':80}
print(marks)

{'Ananya': 85, 'Arya': 23, 'Deva': 50, 'Avani': 60, 'Anju': 80}

 2.⁠ ⁠Access the value of a specific key from a dictionary.

In [14]:
print(marks['Ananya'])
print(marks.get('Ananya'))

85
85

 3.⁠ ⁠Add a new key–value pair in the dictionary.

In [18]:
marks.update({'Manjima':90})
print(marks)
d1={'Nandu':10}
marks.update(d1)
print(marks)

{'Ananya': 85, 'Arya': 23, 'Deva': 50, 'Avani': 60, 'Anju': 80, 'Manjima': 90}
{'Ananya': 85, 'Arya': 23, 'Deva': 50, 'Avani': 60, 'Anju': 80, 'Manjima': 90, 'Nandu': 10}

 4.⁠ ⁠Update the value of an existing key in the dictionary.

In [20]:
marks.update({'Arya':30})
print(marks)

{'Ananya': 85, 'Arya': 30, 'Deva': 50, 'Avani': 60, 'Anju': 80, 'Manjima': 90, 'Nandu': 10}

 5.⁠ ⁠Remove a key–value pair from the dictionary using pop().

In [22]:
marks.pop('Avani')
print(marks)

{'Ananya': 85, 'Arya': 30, 'Deva': 50, 'Anju': 80, 'Manjima': 90, 'Nandu': 10}

6.⁠ ⁠Get all keys of a dictionary using .keys() function.

In [30]:
key=marks.keys()
print(list(key))

['Ananya', 'Arya', 'Deva', 'Anju', 'Manjima', 'Nandu']

 7.⁠ ⁠Get all values of a dictionary using .values() function.

In [32]:
value=marks.values()
print(list(value))

[85, 30, 50, 80, 90, 10]

8.⁠ ⁠Get all key–value pairs from a dictionary using .items().

In [75]:
a=input("Enter a key")
marks.get(a,'Not found')

Enter a key Address

'Not found'

In [36]:
items=marks.items()
print(list(items))

[('Ananya', 85), ('Arya', 30), ('Deva', 50), ('Anju', 80), ('Manjima', 90), ('Nandu', 10)]

9.⁠ ⁠Check if a given key exists in the dictionary.

In [44]:
a=input("Enter a key")
marks.get(a,'Not found')

Enter a key Address

'Not found'

10.⁠ ⁠Create a dictionary and print only keys using a loop.

In [46]:
dic1={'Name':'Arathi','Age':23,'Location':'Kerala','country':'IND'}
keys=dic1.keys()
for key in keys:
    print(key)

Name
Age
Location
country

11.⁠ ⁠Create a dictionary and print only values using a loop.

In [50]:
dic1={'Name':'Arathi','Age':23,'Location':'Kerala','country':'IND'}
values=dic1.values()
for value in values:
    print(value)

Arathi
23
Kerala
IND

12.⁠ ⁠Merge two dictionaries.

In [52]:
dic2={'Department':'AI'}
dic1.update(dic2)
print(dic1)

{'Name': 'Arathi', 'Age': 23, 'Location': 'Kerala', 'country': 'IND', 'Department': 'AI'}

13.⁠ ⁠Write a program to find the key with the maximum value in a dictionary.

In [66]:
marks={'Ananya':85,'Arya':23,'Deva':50,'Avani':60,'Anju':80}
max_mark=max(marks, key=marks.get)
print("Maximum mark:",max_mark)

Maximum mark: Ananya

14.⁠ ⁠Create a nested dictionary and access the inner dictionary value.

In [73]:
students = {
    "student1": {"name": "Alice", "age": 20, "grade": "A"},
    "student2": {"name": "Bob", "age": 22, "grade": "B"}
}
grade=students['student2']['name']
print(grade)

Bob

15.⁠ ⁠Create two lists: one with names and one with marks. Use zip() to combine them into a dictionary.

In [77]:
names = ["Alice", "Bob", "Charlie"]
marks = [85, 92, 78]
student_marks = dict(zip(names, marks))
print(student_marks)

{'Alice': 85, 'Bob': 92, 'Charlie': 78}

16.⁠ ⁠Create a dictionary using fromkeys() with a list of keys and the same default value.

In [79]:
subjects = ["Math", "Science", "English"]
marks = dict.fromkeys(subjects, 0)
print(marks)

{'Math': 0, 'Science': 0, 'English': 0}